<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>form</title>

     <link href="{{STATIC_URL}}static/form1.css" rel="stylesheet" type="text/css">
</head>
<body>


<div class="container">

    <form action="resume/" enctype="multipart/form-data" method="post">
         {% csrf_token %}


        <p>NAME*:</p>
        <input id="ip" name="user1" placeholder="name" type="text" required><br><br>
        {%for i in messages%}
        <div class="error"><p>{{i}}</p></div>
        {% endfor %}
        <p>PASSWORD*:</p>
        <input id="ip" name="password1" placeholder="password" type="password" required>



        <p>CONFIRM PASSWORD*:</p>
        <input id="ip" name="password2" placeholder="confirm password" type="password" required>

        <p>DOMAIN*:</p>
        <input id="ip" name="domain" placeholder="domain" type="text" required><br><br><br>

        <p>MOBILE NO*:</p><br>
        <input id="ip" name="mobile1" placeholder="mobile" type="tel" required><br><br>

        <p>SELECT YOUR IMAGE(optional):</p><br> <input id="ip1" name="image1" type="file"><br><br>

        <p>EMAIL*:</p><br>
        <input id="ip" name="gmail" placeholder="mail_id" type="email" required><br><br>

        <p>ADDRESS*:</p><br>
        <input id="ip" name="address1" placeholder="address" type="text" required><br><br>

        <p>SKILLS(optional):</p><br>
        <input id="ip" name="skill1" placeholder="separate by spaces" type="text"><br><br>

        <p>ABOUT YOURSELF(optional):</p><br>

        <input id="ip" name="about1" placeholder="about me" type="text"><br><br>
        <p>YOUR HOBBIES(optional):</p><br>
        <input id="ip" name="hobby1" placeholder="separate by spaces" type="text"><br><br>

        <p>COLLEGE NAME*:</p><br>
        <input id="ip" name="college" placeholder="college" type="text" required><br><br>

        <p>CGPA*:</p><br>
        <input id="ip" name="cgpa" placeholder="CGPA" type="text" required><br><br>

        <p>PASSED OUT YEAR*:</p><br>
        <input id="ip" name="passout" placeholder="passout" type="date" required><br>
        <br>


        <p>PROJECT NAME(optional):</p><br>
        <input id="ip" name="project" placeholder="project_name" type="text">
        <div class="project"><br><br>

            <p>PROJECT DESCRIPTION(optional):</p><br>
            <textarea id="ip2" name="project_desc" placeholder="project_description" type="text"></textarea></div>
        <br><br>

        <p>SUMMARY(optional):</p><br>
        <textarea id="ip2" name="summary" placeholder="Summary" type="text"></textarea><br><br>

        <p>KNOWN LANGUAGES(optional):</p><br>
        <input id="ip" name="language" placeholder="separate by spaces" type="text"><br><br>
<br>
        <br>
        <br>

        <button id="buttonel">submit</button>
        <br><br>
</div>
</form>
</body>
</html>